@import "globalStyles/variables.scss";

.Button {
  max-width: 320px;
  min-width: 100px;

  border: none;
  border-radius: 7px;

  font-size: 22px;
  padding: 5px 25px;

  background-color: $purple;
  color: #ffffff;
  text-align: center;

  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: lighten($color: $purple, $amount: 16);
  }
}
