$inputBorder: #675a5a;
$darkGray: #1f1f1f;
$purple: #2e2258;
$purpleWhitesmoke: #928ca7;
$blue: rgb(0, 103, 187);

$laptopWidth: 1200px;
$mobileWidth: 560px;


@mixin media-laptop {
  @media screen and (max-width: $laptopWidth) {
    @content;
  }
}

@mixin media-mobile {
  @media screen and (max-width: $mobileWidth) {
    @content;
  }
}
